{% extends "base.html" %}

{% block title %}
Vehicle routing
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="float-begin">
            <form>
                <button type="button" class="btn btn-outline-secondary mt-2"
                    onClick="location.href='/'">&times;</button>
            </form>
        </div>
    </div>
</div>

<hr class="solid">

<div class="container-fluid">
    <form autocomplete="off" id="depots" action="/" method="POST">
        <div class="row">
            <h5>Depot 1</h5>
            <div class="col-6 autocomplete">
                <label for="depot" class="form-label mb-0">Start address</label>
                <input type="text" class="form-control" id="depot" name="depot"
                    placeholder="Type address, autocomplete after 5 characters, search on Enter">
                <input id="start_lat_1" name="start_lat_1" type="hidden">
                <input id="start_long_1" name="start_long_1" type="hidden">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="returnCheck"
                        checked="checked" onclick="showReturn()">
                    <label class="form-check-label" for="flexCheckChecked">
                        Return to Start
                    </label>
                </div>
            </div>
            <div class="col-6 autocomplete" name="return" style="display:none">
                <label for="depot" class="form-label mb-0">Return address</label>
                <input type="text" class="form-control" id="depot" name="depot"
                    placeholder="Type address, autocomplete after 5 characters, search on Enter">
                <input id="return_lat_1" name="return_lat_1" type="hidden">
                <input id="return_long_1" name="return_long_1" type="hidden">
            </div>
        </div>
        <!-- Add more depots
        <div id="newdepot"></div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-primary my-2 w-25" onclick="addDepot()">Add
                depot</button>
        </div>
        -->
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary my-2 w-25" name="depot">Set Depot</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    api_key = '{{ ORS_api_key }}';
</script>
<script type="text/javascript" src="../static/depot.js"></script>

{% endblock %}