{% extends "base.html" %}

{% block title %}
Vehicle routing
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="float-begin">
            <form>
                <button type="button" class="btn btn-outline-secondary mt-2"
                    onClick="location.href='/'">&times;</button>
            </form>
        </div>
    </div>
</div>

<hr class="solid">

<div class="container-fluid">
    <form id="depots" action="/" method="POST" enctype="multipart/form-data">
        <div class="col-6 px-4">
            <label for="depot" class="form-label mb-0">Depot address</label>
            <input type="text" class="form-control" id="depot" name="depot"
                placeholder="Type and select the depot address" onchange="onAddressChange()">
            <input id="depot_lat" name="depot_lat">
            <input id="depot_lng" name="depot_lng">
        </div>
    </form>
</div>

{% if locations is defined %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <table>
            <tr>
                <th>Straat</th>
                <th>Nummer</th>
                <th>Postcode</th>
                <th>Stad</th>
                <th>Land</th>
                <th>Lat</th>
                <th>Long</th>
            </tr>
            {% for key, location in locations.iterrows() %}
            <tr>
                <td>{{ location["Straat"] }}</td>
                <td>{{ location["Nummer"] }}</td>
                <td>{{ location["Postcode"] }}</td>
                <td>{{ location["Stad"] }}</td>
                <td>{{ location["Land"] }}</td>
                <td>{{ '%0.2f' % location["Lat"] |float }}</td>
                <td>{{ '%0.2f' % location["Lon"] |float }}</td>
            </tr>
            {% endfor %}
        </table>

        <button class="btn btn-primary my-3 w-25" onClick="location.href='/'" type="button">Save Locations</button>
    </div>
</div>
{% endif %}

<script type="text/javascript">

    //Get Google Places API from Flask session and create script tag with API key
    var googleplaces_api_key = "";
    var stag = document.createElement('script');
    stag.src = ("https://maps.googleapis.com/maps/api/js?key=" + googleplaces_api_key + "&libraries=places&callback=initAutocomplete")
    stag.defer = true;
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.insertBefore(stag, firstScriptTag.nextSibling);

    //Google Places Autocomplete API call
    let autocomplete;
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('depot'),
            {
                componentRestrictions: { country: ['BE', 'NL'] },
                fields: ['geometry']
            });
        autocomplete.addListener('place_changed', onPlaceChanged);
    }
    function onPlaceChanged() {
        var place = autocomplete.getPlace();

        if (!place.geometry) {
            //User did not select a prediction; reset the input field
            document.getElementById('autocomplete').placeholder =
                'Enter a place';
        } else {
            //Display details about the valid place
            let lat = place.geometry.location.lat(),
                lng = place.geometry.location.lng();
            document.getElementById('depot_lat').value = lat
            document.getElementById('depot_lng').value = lng
        }
    }

</script>

{% endblock %}