{% extends "base.html" %}

{% block title %}
Vehicle routing
{% endblock %}


{% block content %}
{{ map | safe }}
{% endblock %}


{% block results %}
<!-- Route results -->
<div class="row justify-content-center">
    <!--
        <table>
            <tr>
                <th>Vehicle</th>
                <th>Route</th>
                <th>km's</th>
            </tr>
            {% for route in routes %}
            <tr>
                <td>{{ route["id"] + 1}}</td>
                <td>{{ route["route"] }}</td>
                <td>{{ '%0.2f' % (route["cost"] / 1000)|float }} kms</td>
            </tr>
            {% endfor %}
        </table>

        <div id="accordion">
            {% for route in routes %}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <span class="text-start">Vehicle {{ route["id"] + 1}}</span>
                            <span class="text-end">{{ '%0.2f' % (route["cost"] / 1000)|float }} kms</span>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table>
                            <tr>
                                <th>Location</th>
                                <th>Address</th>
                                <th>km's</th>
                            </tr>
                            {% for loc in route["route"] %}
                            <tr>
                                <td>{{ loc }}</td>
                                <td>??</td>
                                <td>{{ route["route_cost"]["{{loop.index}}"] }} kms</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        -->
</div>
{% endblock %}


<style type="text/css">
    #radios {
        display: block;
    }
</style>

<script>
    function showChecked() {
        var chboxs = document.getElementsByName("locationsRadio");
        var results = document.getElementsByName("RadioOptionsResults");
        for (var i = 0; i < chboxs.length; i++) {
            // If the checkbox is checked, display the output text
            if (chboxs[i].checked) {
                results[i].style.display = "block";
            } else {
                results[i].style.display = "none";
            }
        }
    }
</script>