{% extends "base.html" %}

{% block title %}
Vehicle routing
{% endblock %}

{% block content %}

<!--
<form id="formdata" action="/" method="POST" enctype="multipart/form-data">

    <div class="col-6 px-4" id="radios">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="locationsRadio" id="inlineRadio1" value="random"
                checked="checked" onclick="showChecked()">
            <label class="form-check-label" for="inlineRadio1">X random Locations</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="locationsRadio" id="inlineRadio2" value="file"
                onclick="showChecked()">
            <label class="form-check-label" for="inlineRadio2">File upload</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="locationsRadio" id="inlineRadio3" value="typing"
                onclick="showChecked()">
            <label class="form-check-label" for="inlineRadio3">Type addresses</label>
        </div>
        <div class="row" name="RadioOptionsResults" style="display:block">
            <div class="col">
                <input type="number" class="form-control mb-2" id="numRandom" name="numRandom" value="10" min="1"
                    max="150">
            </div>
        </div>
        <div class="row" name="RadioOptionsResults" style="display:none">
            <div class="col">
                <a href="/locations">Locations</a>
                        
                        <input class="form-control mb-2" type="file" id="formFile" name="formFile"
                            accept=".xlsx,.xls,.csv">
            </div>
        </div>
        <div class="row" name="RadioOptionsResults" style="display:none">
            <div class="col">
                <input type="text" class="form-control mb-2" id="typeLocations" name="typeLocations">
            </div>
        </div>
    </div>
    <div class="col-6 px-4">
        <label for="numVehicles" class="form-label mb-0">Number of vehicles</label>
        <input type="number" class="form-control mb-2" id="numVehicles" name="numVehicles" value="1" min="1" max="10">
    </div>
    <div class="col-6 px-4" style="display: none">
        <label for="kmPrice" class="form-label mb-0">Price per km</label>
        <input type="number" class="form-control mb-2" id="kmPrice" name="kmPrice" value="0.194" step="0.001">
    </div>

    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary my-3 w-25">Create Route</button>
    </div>
</form>
-->


<form id="formdata" action="/locations" method="POST" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <input class="form-control mb-2" type="file" id="formFile" name="formFile" accept=".xlsx,.xls,.csv">
            <button type="submit" class="btn btn-primary my-3 w-25">Upload and determine Lat & Long</button>
        </div>
    </div>
</form>
{% if locations is defined %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <table>
            <tr>
                <th>Straat</th>
                <th>Nummer</th>
                <th>Postcode</th>
                <th>Stad</th>
                <th>Land</th>
                <th>Lat</th>
                <th>Long</th>
            </tr>
            {% for key, location in locations.iterrows() %}
            <tr>
                <td>{{ location["Straat"] }}</td>
                <td>{{ location["Nummer"] }}</td>
                <td>{{ location["Postcode"] }}</td>
                <td>{{ location["Stad"] }}</td>
                <td>{{ location["Land"] }}</td>
                <td>{{ '%0.2f' % location["Lat"] |float }}</td>
                <td>{{ '%0.2f' % location["Lon"] |float }}</td>
            </tr>
            {% endfor %}
        </table>

        <button class="btn btn-primary my-3 w-25" onClick="location.href='/'" type="button">Save Locations</button>
    </div>
</div>
{% endif %}

{% endblock %}