{% extends "base.html" %}

{% block title %}
Vehicle routing
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="float-begin">
            <form>
                <button type="button" class="btn btn-outline-secondary mt-2"
                    onClick="location.href='/'">&times;</button>
            </form>
        </div>
    </div>
</div>

<hr class="solid">

<div class="container-fluid">

    <form id="formdata" action="/" method="POST" enctype="multipart/form-data">

        <div class="px-4" id="radios">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="locationsRadio" id="inlineRadio1" value="random"
                    checked="checked" onclick="showChecked()">
                <label class="form-check-label" for="inlineRadio1">X random Locations</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="locationsRadio" id="inlineRadio2" value="file"
                    onclick="showChecked()">
                <label class="form-check-label" for="inlineRadio2">File upload</label>
            </div>
            <!-- Random locations result -->
            <div class="row" name="RadioOptionsResults" style="display:block">
                <div class="col mt-2">
                    <label for="randomRange" class="form-label">Number of random locations:</label>
                    <div class="row">
                        <div id="randomrange">
                            <span class="px-1">1</span>
                            <input type="range" class="form-range" min="1" max="100" step="1" value="10"
                                id="randomRange" name="randomRange" oninput="numberrandom.innerText = this.value">
                            <span class="px-1">100</span>
                        </div>
                        <style>
                            #randomrange {
                                display: inherit;
                            }
                        </style>
                    </div>
                    <div class="row">
                        <p>Locations: <b><span id="numberrandom">10</span></b></p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary w-25">Randomly select locations</button>
                </div>
            </div>
            <!-- File upload result -->
            <div class="row" name="RadioOptionsResults" style="display:none">
                <div class="col">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <input class="form-control mb-2" type="file" id="formFile" name="formFile"
                                accept=".xlsx,.xls,.csv">
                            <button type="submit" class="btn btn-primary my-3 w-25">Upload and determine Lat &
                                Long</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% if locations is defined %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <table>
            <tr>
                <th>Straat</th>
                <th>Nummer</th>
                <th>Postcode</th>
                <th>Stad</th>
                <th>Land</th>
                <th>Lat</th>
                <th>Long</th>
            </tr>
            {% for key, location in locations.iterrows() %}
            <tr>
                <td>{{ location["Straat"] }}</td>
                <td>{{ location["Nummer"] }}</td>
                <td>{{ location["Postcode"] }}</td>
                <td>{{ location["Stad"] }}</td>
                <td>{{ location["Land"] }}</td>
                <td>{{ '%0.2f' % location["Lat"] |float }}</td>
                <td>{{ '%0.2f' % location["Lon"] |float }}</td>
            </tr>
            {% endfor %}
        </table>

        <button class="btn btn-primary my-3 w-25" onClick="location.href='/'" type="button">Save Locations</button>
    </div>
</div>
{% endif %}

<script>
    function showChecked() {
        var chboxs = document.getElementsByName("locationsRadio");
        var results = document.getElementsByName("RadioOptionsResults");
        for (var i = 0; i < chboxs.length; i++) {
            // If the checkbox is checked, display the output text
            if (chboxs[i].checked) {
                results[i].style.display = "block";
            } else {
                results[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}